extends ../../layout/default.pug
include ../../mixins/alerts/successAlert.pug
include ../../mixins/alerts/errorAlert.pug
include ../../mixins/categorySelItem.pug

block main
    +success_alert(messages.success)
    +error_alert(messages.error)
    .container-fluid.pd-none
    form.wrapper-add-product.mg-5.pd-none(method='POST' action=`/admin/products/update/${productItem._id}?_method=PATCH`,enctype="multipart/form-data" product-form)
        section.add-product-header.bg.d-flex
            div
                h2 Edit Product: ##{productItem.slug}
            button.btn.btn-primary.save.btnUpdateProduct(type='submit') Update

        section.add-product-body
            .row
                .col-7.bg
                    div.item.basic-information
                        .modal-header
                            h4.modal-title Basic Information : 
                        .modal-body
                            // product title
                            .row
                                .col-md-12
                                    .form-group
                                        label(for='prodcuct_title') Product Title
                                        input#prodcuct_title.form-control(type='text' name='title' placeholder='Product Title' required value=`${productItem.title}`)
                                        span#productError.text-danger
                            .row#SizePriceStock0
                                .col-md-6
                                    .form-group
                                        label(for='category_name' ) Category Name  
                                        span: i(class="fa-solid fa-circle-check")

                                        select#category_name.form-control(name='category' type='text' placeholder='Product category' )
                                            +category_option(tree,productItem.category)
                                .col-md-6
                                    .form-group
                                        label(for='category_name') Brand Name
                                        span: i(class="fa-solid fa-circle-check")

                                        select#brand_name.form-control(name='brand' type='text' placeholder='Product brand' required )
                                            for brand in brands 
                                                if(brand._id==productItem.brand)
                                                    option.ps-3(value=brand._id selected)  #{brand.title}
                                                else 
                                                    option.ps-3(value=brand._id) #{brand.title}
                            .row
                                .col-md-12
                                    .form-group
                                        label(for='prodcuct_price') Product Price
                                        span: i(class="fa-solid fa-circle-check")

                                        input#product_price.form-control(value=`${productItem.price}` required type='text' name='price' placeholder='Product Price' )
                                        span#productPriceError.text-danger

                            .row#SizePriceStock
                                .row
                                    .col-md-6.p-0
                                        .form-group
                                            label Kích cỡ
                                    .col-md-5.p-0
                                        .form-group
                                            label Số lượng
                                    .col-md-1
                                        button#add.btn.btn-primary.btnAddSizeProduct(type="button" add-sizestock-btn) add
                                .row.m-0.p-0(style="max-height:150px;overflow:scroll" stock-size-fields)
                                    each item in productItem.size
                                        .row.mt-0.mb-4.p-0.d-flex.flex-row.align-items-center
                                            .col-md-6
                                                .form-group
                                                    input#product-size.form-control(type='Number' product-size placeholder='Size Product' value= item.Value)
                                                    span#productSizeError.text-danger
                                            .col-md-4
                                                .form-group
                                                    input#product-stock.form-control(type='Number' product-stock placeholder='Stock' value=item.stock)
                                                    span#productError.text-danger
                                            .col-md-1
                                                button.btn.btn-danger(type="button" remove-sizestock-btn) remove
                            .row 
                                .col-md-6
                                    .form-group
                                        label(for='discountPercentage' ) Discount
                                        span: i(class="fa-solid fa-circle-check")
                                        input#discountPercentage.form-control(value=`${productItem.discountPercentage}` name='discountPercentage' type='text' placeholder='Product discountPercentage' required)
                                        span#discountPercentageError.text-danger
                                .col-md-6
                                    .form-group
                                        label Gender
                                    .form-group.statusProduct
                                        - var x=['male','female','unisex']
                                            each item in x
                                                if productItem.gender === item
                                                    input(id=`${item}` type='radio' name='gender' value=item checked)
                                                    label.form-check-label(for=`${item}`)
                                                        | #{item}
                                                else
                                                    input(id=`${item}` type='radio' name='gender' value=item)
                                                    label.form-check-label(for=`${item}`)
                                                        | #{item}

                            .row   
                                .col-md-12
                                    .form-group
                                        label(for='long_description') Description
                                        span: i(class="fa-solid fa-circle-check")

                                        textarea#long_description.form-control(name='description' rows='10' placeholder='Long Description' value=productItem.description) #{productItem.description}
                                        span#long_description_error.text-danger
                .col-3.bg
                    div.item.visibility
                        .row
                            .modal-header
                                h4#exampleModalLabel.modal-title Visibility : 
                            .modal-body
                                .row   
                                    .col-md-12
                                        .form-group
                                            label Status
                                        .form-group.statusProduct
                                            if productItem.status == "active"
                                                input#active(type='radio' name='status' value="active" checked)
                                                label.form-check-label(for='active')
                                                    | Active
                                                input#inactive(type='radio' name='status' value="inactive")
                                                label.form-check-label(for='inactive')
                                                    | Inactive   
                                            else 
                                                input#active(type='radio' name='status' value="active" )
                                                label.form-check-label(for='active')
                                                    | Active
                                                input#inactive(type='radio' name='status' value="inactive" checked)
                                                label.form-check-label(for='inactive')
                                                    | Inactive
             
                                .row
                                    .modal-header
                                        h4#exampleModalLabel.modal-title Image : 
                                    .modal-body
                                        .row
                                            .col-12
                                                .form-group
                                                    label(for='product_thumbnail') Upload Product Thumbnail
                                                    input#product_thumbnail.form-control(type='file' name='thumbnail'  thumbnail-input)
                                                    span#thumbnail_error.text-danger
                                .row
                                    .modal-header
                                        h4#exampleModalLabel.modal-title More thumbnails : 
                                    .col-md-12
                                        input.form-control.add-more-thumbnail(type='file',  name='thumbnails'  multiple="multiple")
                             
                                                //- .col-4
                                                //-     .preview-thumbnail-more.preview-thumbnail
                                                //-         img(src="", alt="", srcset="")
                .col-2.bg
                    .form-group
                        .modal-header
                            h4#exampleModalLabel.modal-title Preview Image
                        .modal-body
                            .preview-thumbnail
                                img(src=productItem.thumbnail, alt="", srcset="" thumbnail-image)
                                                //- .col-4
                                                //-     .preview-thumbnail-more.preview-thumbnail
                                                //-         img(src="", alt="", srcset="")
                
    //-------------product edit----------------


    script(src="/build/product_add.bundle.js")
