header.main-header-wrapper
    nav.header-top.align-items-center
        .row
            .col-12.d-flex.flex-row.justify-content-between.align-items-center
                .header-top__address
                    span 
                        i(class="fa-solid fa-location-dot")
                    | ------Vinh Xuan, Phu Vang, TT Hue------
                .header-top-infor.d-flex


    nav.header-bottom.container-fluid.align-items-center.mb-2.py-3
        .row
            .col-12.header-bottom-infor.d-flex.justify-content-around
                .header-bottom-infor__item.d-flex.justify-content-center
                    img.header-bottom__logo.align-content-center(src='/images/logo2.png' alt='' srcset='')
                nav.header-bottom-infor__item.home-menu
                    ul.align-items-center.nav__list
                        li.nav__item
                            a(href='/')  Home 
                        li.nav__item
                            a(href='/products') Products
                        li.nav__item
                            a(href='#') About us
                        li.nav__item
                            a(href='#') Contact
                nav.header-bottom-infor__item.home-cart
                    ul.align-items-center.d-flex.justify-content-center.nav__list
                        li.menu-search.nav__item
                            input.input-search(type='text' placeholder='Bạn tìm kiếm gì?')
                            i.fa-solid.fa-magnifying-glass.btn-search
                        li.menu-cart.nav__item.mx-2
                            if(user)
                                a.fs-1(href="/user" style="text-decoration:none")
                                    i.fa-solid.fa-user
                            else
                                a.fs-1(href="/login" style="text-decoration:none")
                                    i.fa-solid.fa-user
                                
                        if(!indexCartFlag)
                            li.menu-cart.nav__item.mx-3.align-items-center.d-flex.justify-content-center
                                .shopping-cart-icon-section.dropdown.align-items-center.d-flex.justify-content-center
                                    i.fa-solid.fa-cart-shopping
                                    span.mx-1(style="font-size:10px") #{cart.products?cart.products.length:0}
                                    //- ul.dropdown-menu.dropdown-menu-left.mx-0.mt-5.rounded.overflow-hidden( aria-labelledby="dropdownMenuButton1")
                                    
                                    //-     li.fs-2.text-center Your cart 
                                        //- if(cart.products)
                                        //-     li.product-section.overflow-auto
                                        //-         for item in cart.products
                                        //-             div.product-cart-hover.py-1.px-4.mb-1
                                        //-                 div.h-100.d-flex.flex-row
                                        //-                     img.object-fit-fill(src=item.thumbnail)
                                        //-                     div.h-100.ps-2.pe-1
                                        //-                         span.fs-4 #{item.title}
                                        //-                         div.size-section.mb-3.mt-1
                                        //-                             span.fs-4.fw-light.me-1 Size :
                                        //-                             span.size-text.fs-4.me-4 #{item.size}
                                        //-                             input.fs-4.fw-bold.quantity-input(type="number" min=0 max=100 value=item.quantity data-product-size=item.size data-product-id=item.id)
                                        //-                         span(data-product-price=item.price).price-text.fs-4 $#{item.price}
                                        //-             hr.divider.mx-auto(style="width:90%")
                                        //-     hr.divider.mx-auto(style="width:100%")
                                        //-     li.total-section
                                        //-         div.text-center
                                        //-             span.total-text-hover.fs-3 Total :$#{cart.total}
                                        //- else 
                                        //-     li.fs-2.text-center you should Login first

                            
                        li.menu-list.nav__item
                            button
                                i.fa-solid.fa-bars
    script(src="/build/header.bundle.js")
                            