header.main-header-wrapper
    nav.header-top.align-items-center
        .row
            .col-12.d-flex.flex-row.justify-content-between.align-items-center
                .header-top__address
                    span 
                        i(class="fa-solid fa-location-dot")
                    | ------Vinh Xuan, Phu Vang, TT Hue------
                .header-top-infor.d-flex


    nav.header-bottom.container-fluid.align-items-center.mb-2.py-3
        .row
            .col-12.header-bottom-infor.d-flex.justify-content-around
                .header-bottom-infor__item.d-flex.justify-content-center
                    img.header-bottom__logo.align-content-center(src='/images/Logo2.png' alt='' srcset='')
                nav.header-bottom-infor__item.home-menu
                    ul.align-items-center.nav__list
                        li.nav__item
                            a.nav-title(href='/')  Home 
                        li.nav__item
                            a.nav-title(href='/products/')  Giày    
                        for category1 in categoriesTree
                            li.nav__item
                                a(href=`/products/?category=${category1.slug}`).nav-title #{category1.title}
                                if category1.child && category1.child.length>0
                                    .li-collapse.rounded-5.d-flex.d-row.shadow-lg
                                        for category2 in category1.child
                                            .collapse-item.mx-2.d-flex.flex-column.me-5
                                                .item-title
                                                    a(href=`/products/?category=${category2.slug}`) #{category2.title}
                                                hr.mb-4
                                                if category2.child && category2.child.length>0
                                                    .item-content.d-flex.flex-column
                                                        for category3 in category2.child
                                                            a(href=`/products/?category=${category3.slug}`).fw-normal.my-3 #{category3.title}
                        li.nav__item
                            a.nav-title(href='#') Brands
                            .li-collapse.rounded-5.d-flex.d-row.shadow-lg
                                .collapse-item.mx-2.d-flex.flex-column.mx-3
                                    .item-content.d-flex.flex-column
                                        for brand in brands
                                            a.fw-normal.my-3(href=`/products/?brand=${brand.slug}`) #{brand.title}
                        li.nav__item
                            a.nav-title(href='#') Contact
                            .li-collapse.rounded-5.d-flex.d-row.shadow-lg
                                .collapse-item.mx-2.d-flex.flex-column.mx-3
                                    .item-title
                                        a(href="") 
                                    .item-content.d-flex.flex-column
                                        a.fw-normal.my-3 About us
                                        a.fw-normal.my-3 Contact 
                                        a.fw-normal.my-3 Service 
                                        a.fw-normal.my-3 Faq

                nav.header-bottom-infor__item.home-cart
                    ul.align-items-center.d-flex.justify-content-center.nav__list
                        li.menu-cart.nav__item.menu-bars 
                            i.fa-solid.fa-bars
                        li.menu-search.nav__item
                            input.input-search(type='text' placeholder='Bạn tìm kiếm gì?')
                            i.fa-solid.fa-magnifying-glass.btn-search
                        li.menu-cart.nav__item.mx-2
                            if(user)
                                a.fs-1(href="/user" style="text-decoration:none")
                                    i.fa-solid.fa-user
                            else
                                a.fs-1(href="/login" style="text-decoration:none")
                                    i.fa-solid.fa-user
                                
                        if(!indexCartFlag)
                            li.menu-cart.nav__item.mx-3.mt-2    
                                .shopping-cart-icon-section.dropdown.align-items-center.d-flex.justify-content-center
                                    i.fs-1.fa-solid.fa-cart-shopping
                                    span.mx-1(style="font-size:10px") #{cart.products?cart.products.length:0}
                                   
    .header-bottom-expand.py-5.px-5 
        .row.overflow-y-scroll.pe-3
            .col-12
                .title.d-flex.flex-row.justify-content-between.align-items-center
                    img(src='/images/Logo2.png' alt='' srcset='')
                    i.me-1.fs-3.fa-solid.fa-x
                .header-expand-collapse.mt-5
                    .item.d-flex.flex-column 
                        .item-title.d-flex.flex-row.justify-content-between.align-items-center.mb-2
                            a(href="#") Home
                            .item-title-icon.d-none 
                    for category1 in categoriesTree
                        .item.d-flex.flex-column 
                            .item-title.d-flex.flex-row.justify-content-between.align-items-center   
                                a(href=`/products/?category=${category1.slug}`) #{category1.title}
                                .item-title-icon 
                            if category1.child && category1.child.length>0
                                .item-collapse.overflow-hidden
                                    for category2 in category1.child
                                        .item.ms-4.d-flex.flex-column 
                                            .item-title.d-flex.flex-row.justify-content-between.align-items-center   
                                                a(href=`/products/?category=${category2.slug}`) #{category2.title}
                                                .item-title-icon 
                                            if category2.child && category2.child.length>0
                                                .item-collapse.overflow-hidden
                                                    for category3 in category2.child
                                                        .item.ms-4.d-flex.flex-column 
                                                            .item-title.d-flex.flex-row.justify-content-between.align-items-center   
                                                                a(href=`/products/?category=${category3.slug}`) Products
                                                                .item-title-icon 
                    .item.d-flex.flex-column 
                        .item-title.d-flex.flex-row.justify-content-between.align-items-center   
                            a(href="#") Brands
                            .item-title-icon 
                        .item-collapse.overflow-hidden
                            for brand in brands
                                .item.ms-4.d-flex.flex-column 
                                    .item-title.d-flex.flex-row.justify-content-between.align-items-center   
                                        a(href=`/products/?brand=${brand.slug}`) #{brand.title}
                                        .item-title-icon 
                    .item.d-flex.flex-column 
                        .item-title.d-flex.flex-row.justify-content-between.align-items-center   
                            a(href="#") Contact
                            .item-title-icon 
                        .item-collapse.overflow-hidden
                            .item.ms-4.d-flex.flex-column 
                                .item-title.d-flex.flex-row.justify-content-between.align-items-center   
                                    a(href="#") Faq
                                    .item-title-icon 
                            .item.ms-4.d-flex.flex-column 
                                .item-title.d-flex.flex-row.justify-content-between.align-items-center   
                                    a(href="#") About us
                                    .item-title-icon 
                            .item.ms-4.d-flex.flex-column 
                                .item-title.d-flex.flex-row.justify-content-between.align-items-center   
                                    a(href="#") Service
                                    .item-title-icon 
                            .item.ms-4.d-flex.flex-column 
                                .item-title.d-flex.flex-row.justify-content-between.align-items-center   
                                    a(href="#") Facebook
                                    .item-title-icon 
                                                    
                                    
                     
                        
    .overlay.overlay-header-expand.vh-100
    script(src="/build/header.bundle.js")
                            