include ./confirm.pug

mixin order_infor(orders,pagination)

    .container-fluid.order-container
        section.inner-title-order.row
            .col-12
                        h2 Danh Sách Đơn Đặt Hàng
        .row.searchAndStatus
            .col-md-4
                form.form-group.navbar.navbar_search.form_search 
                    lable Tìm kiếm
                    input(type="text" value=keyword name="keyword" class="form-control",id="seach" placeholder="Bạn tìm kiếm gì" aria-label="Recipient's username" aria-describedby="button-addon2")
                    button(type='submit')
                        i(class="fa-solid fa-magnifying-glass" )
            .col-md-2
                .form-group.navbar
                    lable Trạng Thái
                    select.form-select.filterSearchProduct#comboboxChangeStatus(aria-label='Default select example')
                                    each item in status
                                        if item.class=="active"
                                            option(value=item.value,selected) #{item.name}
                                        else 
                                            option(value=item.value) #{item.name}  
            .col-3
            .col-3.pagination-order.align-items-end.d-flex
                +pagination(pagination)



        nav.navbar.navbar_content
            +detailProduct(detailProduct1)
            table.table.align-middle.tableProduct
                thead
                    tr
                        th(scope='col',style='width: 5%' first) STT
                        th(scope='col',style='width: 20%') Customer
                        th(scope='col',style='width: 15%') Order date
                        th(scope='col',style='width: 10%') Pay method

                        th(scope='col',style='width: 10%') Tổng Tiền
                        th(cope='col',style='width: 10%') Status
                        th(scope='col') Detail
                        th(scope='col') Hoạt Động

                tbody.table-group-divider
                +confirm("Bạn Có Muốn Hủy Không")
                each item,index in orders
                    +order_infor_item(item,index)


mixin order_infor_item(item,index) 
    tr.text-start.tr-content
                    th(class="stt_tableProduct",scope='row' first) #{index+1}
                    td(class="_tableProduct")
                        div
                            .row
                                .col-3
                                    img(class='avatar-customers' src="/images/avatar.jpg", alt="", srcset="")
                                .col-7
                                    div.d-flex.flex-column.name-id-customers
                                        p1 #{item.nameCustomer}
                                        p1 KH0001
                    td(class="_tableProduct") #{item.date}
                    td(class="_tableProduct") #{item.payMethod}

                    td(class="_tableProduct") #{item.priceTotal}
                    td(class="text-wrap" status =item.status, style=`${item.status==="Đã Xác Nhận"? "color:var(--bs-success)":"color:var(--bs-danger)"}`) #{item.status}
                    td
                            i.fa-solid.fa-eye(btn-data-detail-order, orderID =item._id, data-path)
 
                    td
                        button.btn.btn-warning(type='button' data-toggle="modal" data-target="#exampleModal" ) Edit
                        if item.delete == "false"
                            button.btn.btn-danger.ml-1.openConfirm(type='button' btn_delete_order id_order=item._id ) Delete


mixin order_infor_detail_item(item,index) 
    tr.text-start.tr-content
                    th(class="stt_tableProduct",scope='row' first) #{index+1}
                    td(class="_tableProduct") #{item._idProduct}
                    td(class="_tableProduct") #{item.nameProduct}
                    td.img_tableProduct
                        img(src=`${item.thumbnail}`, alt="", srcset="")
                    td(class="_tableProduct") #{item.size}
                    td(class="_tableProduct") #{item.quantity}
                    td(class="_tableProduct") #{item.price}
                    td(class="_tableProduct") #{item.total}
