mixin cart-menu(cart)
    .cart-menu.rouned-1.py-5.ps-5.pe-2
        .my-5.d-flex.flex-row.justify-content-between.align-items-center 
            span.fs-1.fw-bold Cart
            span.icon-cancel.py-2.px-3
                i.fs-3.fw-bold.fa-solid.fa-x
        hr.my-5 
        if !cart.products
            .row.list-section.empty-list
                span.fs-2 Your cart is empty
        else
            .row.list-section.product-list-loop.px-3 
                for product in cart.products
                    .product-cart-item2.d-flex.flex-row 
                        .img-section
                            a(href=`/products/detail/${product.slug}`) 
                                img.rounded-3(src=product.thumbnail)
                            form(method="POST" action="/cart/delete").icon-cancel.py-2.px-2
                                input(type="hidden" name="productId" value=product.id)
                                input(type="hidden" name="size" value=product.size)
                                button.fs-3.fa-solid.fa-x
                        .product-cart-info.d-flex.flex-column.ms-5 
                            a.fs-3.title-text(href=`/products/detail/${product.slug}`) #{product.title} - #{product.size}
                            span.fs-3 #{product.quantity} x #{product.price}
                    hr.my-4
        hr
        .subtotal-text.d-flex.flex-row.justify-content-between.align-items-center.py-4
            .span.fs-2.fw-bold Subtotal:
            if cart.products
                .span.fs-2.fw-bold.price-text #{cart.total} 
            else 
                .span.fs-2.fw-bold.price-text 0
        hr
        .dil.mt-4
            if cart.products
                a.cart-index-button.w-100.px-3.py-2.rounded-2(href="/cart/index") Go to your cart 

    .overlay.vh-100