extends ../../layout/default.pug
include ../../mixins/pagination.pug
include ../../mixins/product-item.pug
include ../../mixins/cart-menu.pug

block main_content
  +cart-menu(cart )
  main.main-content
    hr.mb-5(style="color:gray")
    if(!filter.category)
      .row.title-filter.mb-5.pb-5
        .product-all-banner.d-flex.flex-column.justify-content-center.align-items-center.py-5.mb-5
          span.big-text.mb-3   Products
          ul.breadcrumbs.d-flex.flex-row
            li.fs-1.fw-bold.breadcrumbs-item
              a.breadcrumbs-link(href="/") Home
            li.fs-1.fw-bold.breadcrumbs-item
              a.breadcrumbs-link(href="") All Products
    .product-content.container.custom-container
      if(filter.category)
        .row.title-filte.p-0
          .product-all-banner.mb-5.rounded-5
            .row.p-5
              .col-xl-8.col-12.d-flex.justify-content-start.flex-column.pb-5
                span.big-text.mb-3  #{filter.category.title}
                ul.breadcrumbs.d-flex.flex-row.px-0
                  li.fs-1.fw-bold.breadcrumbs-item
                    a.breadcrumbs-link(href="/") Home
                  li.fs-1.fw-bold.breadcrumbs-item
                    a.breadcrumbs-link(href="") #{filter.category.title}
                p.description-p.mt-3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque praesentium velit assumenda nulla expedita repellat fuga alias doloribus molestias reprehenderit accusantium commodi, error nobis, dolores, optio quo officia perspiciatis molestiae!
              .col-1
              .col-xl-3.col-12 
                img.img-fluid.rounded-4(src=filter.category.thumbnail, alt="" style="height:278px")
   
      .row 
        button.filter-button.py-3.rounded-4
          i.fa-solid.fa-sliders.mx-4
          span Filter
      .row
        .col-xxl-3.col-sm-12.col-lg-4.col-lg-4.pe-5.mt-3
          .col-12.filter-menu
            .filter-block-collapse
              a.filter-title.d-flex.flex-row.justify-content-between.align-items-center.filter-title-active
                span Categories
              .filter-collapse.my-5.overflow-y-scroll.filter-collapse-active 
                for category in categoriesTree
                  .item.my-5
                    if(filter.category && category._id==filter.category.id)
                      a.active(href=`/products/?category=${category.slug}`) #{category.title}
                    else 
                      a(href=`/products/?category=${category.slug}`) #{category.title}
                  if category.child && category.child.length>0
                    for category1 in category.child 
                      .item.my-5
                        if(filter.category && category1._id==filter.category.id)
                          a.active(href=`/products/?category=${category1.slug}`)  #{category1.title}
                        else 
                          a(href=`/products/?category=${category1.slug}`)  #{category1.title}

                      if category1.child && category1.child.length>0
                        for category2 in category1.child 
                          .item.my-5
                            if(filter.category && category2._id==filter.category.id)
                              a.active(href=`/products/?category=${category1.slug}`)  #{category2.title}
                            else 
                              a(href=`/products/?category=${category2.slug}`)  #{category2.title}

                
                
            .filter-block-collapse  
              a.filter-title.d-flex.flex-row.justify-content-between.align-items-center.filter-title-active 
                span Brand
              .filter-collapse.my-5.overflow-y-scroll.filter-collapse-active 
                for brand in brands
                  .item.my-5
                    input.form-check-input.me-3(type="checkbox")
                    span(href="") #{brand.title}
              hr
            .filter-block-collapse  
              a.filter-title.d-flex.flex-row.justify-content-between.align-items-center 
                span Sizes
              .filter-collapse.my-5.overflow-y-scroll 
                .item.my-4
                  input.form-check-input.me-3(type="checkbox")
                  span(href="") <39
                .item.my-4
                  input.form-check-input.me-3(type="checkbox")
                  span(href="") 39
                .item.my-4
                  input.form-check-input.me-3(type="checkbox")
                  span(href="") 40
                .item.my-4
                  input.form-check-input.me-3(type="checkbox")
                  span(href="") 41
                .item.my-4
                  input.form-check-input.me-3(type="checkbox")
                  span(href="") 42
                .item.my-4
                  input.form-check-input.me-3(type="checkbox")
                  span(href="") >42
              hr
            .filter-block-collapse  
              a.filter-title.d-flex.flex-row.justify-content-between.align-items-center 
                span Gender
              .filter-collapse.my-5.overflow-y-scroll 
                .item.my-4
                  input.form-check-input.me-3(type="checkbox")
                  span(href="") Boy
                .item.my-4
                  input.form-check-input.me-3(type="checkbox")
                  span(href="") Girl
                .item.my-4
                  input.form-check-input.me-3(type="checkbox")
                  span(href="") Unisex

            .filter-block-collapse 
              a.filter-title.d-flex.flex-row.justify-content-between.align-items-center 
                span Prices
              .filter-collapse.my-5.overflow-scroll
                .col11.py-5
                  .range-slider
                    input#minRange.slider(type='range', min='0', max='100', value='25')
                    input#maxRange.slider(type='range', min='0', max='100', value='75')
                  .range-values.d-flex.flex-row.justify-content-between.align-items-center.my-4
                    .range-text.me-3.px-4.py-2
                      span.fs-3#minValue #{(parseInt("25")*10000000/100).toLocaleString()}
                    .range-text.px-4.py-2
                      span.fs-3#maxValue #{(parseInt("75")*10000000/100).toLocaleString()}
                  button.range-button.w-100.border.rounded-2 Search
              
              
        .col-xxl-9.col-lg-8.col-xl-8.col-sm-12.px-2.mt-3.product-main
          .row
            each product of products 
              .col-6.col-xxl-4.col-xl-6.px-4.mt-3
                  +product_item(product)
          +pagination(pagination)
                  

  #quickViewModal.rounded-3.modal.fade(tabindex='-1', aria-labelledby='exampleModalLabel', aria-hidden='true')
        .modal-dialog.modal-dialog-centered.modal-xl.rounded-3
          .modal-content.rounded-3
              .modal-body.rounded-3
                  form
                      .row.p-5
                          .col-lg-6
                              img.rounded-5(src="https://minimalin-demo.myshopify.com/cdn/shop/files/gallery-2_770x.jpg?v=1691167477") 
                          .col-lg-6.ps-5
                              h1.mb-4.title Air fox 111
                              h1.mb-4.price 2.000.000 d
                              p.mb-4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque recusandae, ex velit ullam sint facilis exercitationem corrupti suscipit, possimus eum enim dicta distinctio quas ut, odit quidem quia rerum consequuntur?
                              .d-flex.flex-row.align-items-center
                                  p.me-5 Size:
                                  select.ms-5.form-control.mb-4#selectSize(name="size")
                                      option(value="39") 39
                                      option(value="40") 40
                              .cart-insert.d-flex.justify-content-start    
                                  input.form-control.me-5(type="Number")   
                                  button.px-4.py-4.rounded-2(type='button', data-bs-dismiss='modal') Add to cart

  script(src="/build/product_client.bundle.js") 